@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --main-color: #1f75fe;
  --hover-color: #0047ab;
  --background-main-color: #212121;
  --font-size: 16px;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
::selection{
  background: var(--main-color);
  color: #fff;
}

::-moz-selection{
  background: var(--main-color);
  color: #fff;
}

::-webkit-selection{
  background: var(--main-color);
  color: #fff;
}

::-webkit-scrollbar{
  width: 0.9375rem;
}

::-webkit-scrollbar-track{
  background-color: #fff;
}

::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--hover-color);
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-main-color);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.nav-bar-superior {
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0.9375rem;
}

.seccion-icono-logo-rr {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

.rr-logo {
  color: #1f75fe;
  height: 1.875rem;
  width: 1.875rem;
  margin: 0;
  padding: 0;
  transition: all .25s;
}

.rr-logo:hover {
  color: var(--hover-color);
}

.seccion-iconos-contacto {
  height: auto;
  width: 8.5rem;
  margin: 0;
  padding: 0;
}

.iconos-contacto {
  display: flex;
  align-items: center;
  color: #1f75fe;
  height: 1.875rem;
  width: 1.875rem;
  margin: 0 0.46875rem;
  padding: 0;
  transition: all .25s;
}

.iconos-contacto:hover {
  color: #0047ab;
}

.seccion-presentacion {
  height: auto;
  width: auto;
  margin: 0;
  padding: 2.8125rem 0.9375rem;
}

.seccion-img-nombre-profesion {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

.imagen-rr {
  height: 13.4375rem;
  width: 13.4375rem;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.nombre-rr {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.profesion-rr {
  color: #777;
  font-size: 0.75rem;
  font-weight: 500;
  margin: 0 0 0.3125rem 0;
  padding: 0;
}

.boton-contacto
{
  background-color: var(--main-color);
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.625rem 1.25rem;
  border-radius: 3.125rem;
  transition: all 0.25s ;
}

.boton-contacto:hover
{
  background-color: var(--hover-color);
}

.bloque-presentacion {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

.texto-presentacion {
  color: #777;
  font-size: 0.9375rem;
  font-weight: 500;
  margin: 0;
  padding: 0.9375rem 0;
  text-align: left;
}

.seccion-competencias {
  height: auto;
  width: auto;
  margin: 0;
  padding: 2.8125rem 0;
}

.titulo-habilidades {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
  padding: 0 0 0 0.9375rem;
}

.brand-wheel {
  flex-direction: row;
  align-items: center;
  display: flex;
  overflow: hidden;
  position: relative;
  min-height: 9.375rem;
  margin: 0;
  padding: 0;
}

.brand-slide {
  flex-shrink: 0;
  position: absolute;
  animation: slidelogo 15s linear infinite;
  min-width: 100%;
  display: flex;
}

.brand-slide.delay {
  transform: translateX(100%);
  animation-name: slidelogo2;
}

.brand-wheel:hover .brand-slide {
  animation-play-state: paused;
}

.logo-div {
  display: inline-flex;
  align-self: center;
  animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

.logo-div img {
  height: 7.8125rem;
  width: 7.8125rem;
  max-width: none;
  margin: 0 1.125rem;
  padding: 0.9375rem;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slidelogo {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slidelogo2 {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.seccion-proyectos {
  height: auto;
  width: auto;
  margin: 0;
  padding: 2.8125rem 0;
}

.titulo-seccion-proyectos {
  color: #fff;
  font-size: 1.3125rem;
  font-weight: 700;
  margin: 0;
  padding: 0 0 0 0.9375rem;
}

.bloque-proyectos {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

.logo-ararpi,
.logo-espwa {
  height: 2.8125rem;
  width: 8.4375rem;
  margin: 0.9375rem;
  padding: 0;
}

.seccion-footer {
  margin: 0;
  padding: 0;
  bottom: 0;
}

.texto-footer {
  color: #777;
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0;
  padding: 0 0 0 0.9375rem;
}
