@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
::selection{
  background: #1f75fe;
  color: #fff;
}

::-moz-selection{
  background: #1f75fe;
  color: #fff;
}

::-webkit-selection{
  background: #1f75fe;
  color: #fff;
}

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-track{
  background-color: #fff;
}

::-webkit-scrollbar-thumb{
  background-color: #1f75fe;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #0047ab;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #212121;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.nav-bar-superior {
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: 50px;
  width: 100%;
}

.seccion-icono-logo-rr {
  height: 50px;
  width: 50px;
  margin: 15px 0 0 10px;
  padding: 0;
}

.rr-logo {
  color: #1f75fe;
  height: 50px;
  width: 50px;
  margin: 0;
  padding: 5px 0;
  transition: all .25s;
}

.rr-logo:hover {
  color: #0047ab;
}

.seccion-iconos-contacto {
  height: 50px;
  width: 150px;
  margin: 15px 10px 0 0;
  padding: 0;
}

.iconos-contacto {
  display: flex;
  align-items: center;
  color: #1f75fe;
  height: 50px;
  width: 50px;
  margin: 0;
  padding: 5px 0;
  transition: all .25s;
}

.iconos-contacto:hover {
  color: #0047ab;
}

.seccion-dos {
  height: 300px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.seccion-img-nombre-profesion {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 50%;
  margin: 0;
  padding: 15px;
}

.imagen-rr {
  height: 215px;
  width: 215px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.nombre-rr {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.profesion-rr {
  color: #777;
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 5px 0;
  padding: 0;
}

.boton-contacto
{
  background-color: #1f75fe;
  color: #fff;
  font-size: 12.5px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 50px;
  transition: all 0.25s ;
}

.boton-contacto:hover
{
  background-color: #0047ab;
}

.bloque-presentacion {
  display: flex;
  align-items: center;
  height: auto;
  width: 50%;
  margin: 0;
  padding: 15px;
}

.texto-presentacion {
  color: #777;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-align: left;
}

.seccion-dos,
.seccion-img-nombre-profesion,
.bloque-presentacion {
  display: flex;
}

.seccion-competencias {
  height: 300px;
  width: 100%;
  margin: 0;
  padding: 45px 0;
}

.texto-habilidades {
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  margin: 0;
  padding: 0 0 0 15px;
}

.brand-wheel {
  flex-direction: row;
  align-items: center;
  display: flex;
  overflow: hidden;
  position: relative;
  min-height: 150px;
  margin: 0;
  padding: 0;
}

.brand-slide {
  flex-shrink: 0;
  position: absolute;
  animation: slidelogo 15s linear infinite;
  min-width: 100%;
  display: flex;
}

.brand-slide.delay {
  transform: translateX(100%);
  animation-name: slidelogo2;
}

.brand-wheel:hover .brand-slide {
  animation-play-state: paused;
}

.logo-div {
  display: inline-flex;
  align-self: center;
  animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

.logo-div img {
  height: 125px;
  width: 125px;
  max-width: none;
  margin: 0 18px;
  padding: 15px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slidelogo {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slidelogo2 {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.seccion-footer {
  margin: 0;
  padding: 0;
  bottom: 0;
}

.texto-footer {
  color: #777;
  font-size: 12.5px;
  font-weight: 400;
  margin: 0;
  padding: 0 0 0 15px;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .nav-bar-superior {
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .seccion-icono-logo-rr {
    height: 0 auto;
    width: 42.5px;
    margin: 15px 0 0 0;
    padding: 0;
  }

  .rr-logo {
    height: 42.5px;
    width: 42.5px;
    margin: 0 0 0 10px;
    padding: 5px 0;
  }

  .seccion-iconos-contacto {
    height: 42.5px;
    width: 125px;
    margin: 15px 15px 0 0;
    padding: 0;
  }

  .iconos-contacto {
    display: flex;
    align-items: center;
    height: 42.5px;
    width: 42.5px;
    margin: 0;
    padding: 5px 0;
  }

  .seccion-dos,
  .seccion-img-nombre-profesion,
  .bloque-presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .seccion-dos {
    height: auto;
    width: 100%;
    margin: 45px 0 0 0;
    padding: 0;
  }

  .seccion-img-nombre-profesion {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .imagen-rr {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
  }

  .nombre-rr {
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  
  .profesion-rr {
    font-size: 10px;
    font-weight: 500;
    margin: 0 0 5px 0;
    padding: 0;
  }

  .boton-contacto{
    font-size: 10px;
    font-weight: 400;
    padding: 5px 10px;
  }

  .bloque-presentacion {
    display: flex;
    height: auto;
    width: 100%;
    margin: 45px 0 0 0;
    padding: 0;
  }

  .texto-presentacion {
    font-size: 12px;
    font-weight: 500;
    margin: 0 15px;
    padding: 0;
  }

  .seccion-competencias {
    height: 125px;
    width: 100%;
    margin: 37.5px 0 0 0;
    padding: 0;
  }

  .texto-habilidades {
    font-size: 15px;
    font-weight: 700;
    margin: 0 0 0 15px;
    padding: 0;
  }

  .brand-wheel {
    flex-direction: row;
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
    min-height: 75px;
    margin: 0;
    padding: 0;
  }

  .logo-div img {
    height: 75px;
    width: 75px;
    max-width: none;
    margin: 0 12px;
    padding: 12px;
  }

  .texto-footer {
    font-size: 10.5px;
    font-weight: 500;
    margin: 0 0 0 15px;
    padding: 15px 0;
  }
}
